.card {
  width: 30%;

  background-color: antiquewhite;
  position: relative;
  border: 1px solid rgb(221, 220, 220);
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 95%;
  height: 100%;
  background-color: rgba(238, 26, 26, 0.9);

  clip-path: polygon(100% 0%, -110% 1%, 23% 124%);
}
.overlay .title {
  white-space: pre-wrap;
}
.overlay .title p {
  padding: 33px 0 0 22px;
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  line-height: 22px;
  font-weight: 700;
}
.overlay .title a {
  padding: 0 0 0 23px;
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  cursor: pointer;
  font-size: 13px;
}

@media (max-width: 767px) {
  .overlay .title p {
    padding: 10px 0 0 10px;
  }
}
